<h1>User Information With Address</h1>

<table>
    <tr>
        <th> Enter the User ID:</th>
        <th> <input type="text" id="txtUID" /> </th>
    </tr>
    <tr>
        <td> <button> Show User Address </button> </td>
    </tr>
</table>

<br />

<table>
    <tr>
        <th>S.No.</th>
        <th>ADDRESS</th>
        <th>CITY</th>
        <th>STATE</th>
        <th>COUNTRY</th>
        <th>PIN</th>
    </tr>
    <tr>
    </tr>
</table>

<script src="~/js/user.js"></script>

